<?xml version="1.0"?>
<launch>


    <!--Run rviz-->
    <node pkg = "rviz" name = "rviz" type = "rviz" args="-d $(find robotsim)/rviz/differential.rviz">
    </node>
    

    <!--Run the node that will generate an example trajectory-->
    <node pkg = "robotsim" name = "robot" type = "differential_sim.py" args="" output="screen">
        <rosparam command="load" file="$(find robotsim)/config/differential_sim.yaml" />
    </node>


    <!--Run the node that will generate an example trajectory-->
    <node pkg = "examples" name = "path_generator" type = "example_path.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path.yaml" />
    </node>


    <!-- Run the node that controls the robot with vector fields -->
    <node pkg="ground_robot" name="differential_node" type="differential_node.py" args="" output="screen">
        <rosparam command="load" file="$(find ground_robot)/config/differential_params.yaml" />
    </node>

</launch>


