<?xml version="1.0"?>
<launch>


    <!--Run rviz-->
    <node pkg = "rviz" name = "rviz" type = "rviz" args="-d $(find robotsim)/rviz/integrator.rviz">
    </node>


    <!--Run the node that will generate an example trajectory-->
    <node pkg = "robotsim" name = "robot" type = "integrator_sim.py" args="" output="screen">
        <rosparam command="load" file="$(find robotsim)/config/integrator_sim.yaml" />
    </node>


    <!--Run the node that will generate an example trajectory-->
    <node pkg = "examples" name = "path_generator" type = "example_path.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path.yaml" />
    </node>


    <!-- Run the node that controls the robot with vector fields -->
    <node pkg="distancefield" name="simple_node" type="simple_node.py" args="" output="screen">
        <rosparam command="load" file="$(find distancefield)/config/basic_params.yaml" />
    </node>

</launch>


