<?xml version="1.0"?>
<launch>


    <!--Run the node that will generate an example trajectory-->
    <node pkg = "robotsim" name = "robot" type = "skidsteer_sim.py" args="" output="screen">
        <rosparam command="load" file="$(find robotsim)/config/skidsteer_sim.yaml" />
    </node>


    <!--Run the node that will generate an example trajectory-->
    <node pkg = "examples" name = "path_generator" type = "example_path.py" args="" output="screen">
        <rosparam command="load" file="$(find examples)/config/pub_path.yaml" />
    </node>


    <!-- Run the node that controls the robot with vector fields -->
    <node pkg="ground_robot" name="skidsteer_node" type="skidsteer_node.py" args="" output="screen">
        <rosparam command="load" file="$(find ground_robot)/config/skidsteer_params.yaml" />
    </node>

</launch>


